html, body {margin: 0; padding: 0;}

table, th, td 
{
    border: 1px solid black;
}

th, td
{
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

table 
{
    border-collapse: collapse;
}

.base
{
    background-color:#0489ff;
    font-size: 0px;
}

.non
{
    background-color: #0489ff;
    font-size: 1.2em;
}

.oui
{
    background-color: #e80000;
    font-size: 1.2em;
}

.presque
{
    background-color: #ffd500;
    font-size: 1.2em;
}

input[type="button"]
{
    width: 200px;
    padding: 10px;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    background-color:#ffd500;
    color: #222222;
}

input[type="button"]:hover
{
    cursor: pointer;
    background-color:#e9c300;
}