html, body {margin: 0; padding: 0; background-color: #f1f1f1;}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #222222;
}

footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222222;
}

input[type="button"]
{
    width: 200px;
    padding: 10px;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    background-color:#ffd500;
    color: #222222;
}

input[type="button"]:hover
{
    cursor: pointer;
    background-color:#e9c300;
}

input[type="submit"]
{
    width: 200px;
    padding: 10px;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    background-color:#ffd500;
    color: #222222;
}

input[type="submit"]:hover
{
    cursor: pointer;
    background-color:#e9c300;
}

#regle
{   
    position:absolute;
    display:none;
    background-color:#dedede;
    width: 750px;
    height: 550px;
    border:black solid 2px;
    padding:10px;
    font-size: large;
    font-family: Helvetica, sans-serif;
}

#regle h1, h2
{
   text-align: center;
}

#BtnRetour
{
    width: 100px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color:#ffd500;
    color: #222222;
    display: block;
    margin: 50px auto 0 auto;


}

#BtnRetour:hover
{
    cursor: pointer;
    background-color:#e9c300;  
}

img
{
    width: 500px;
    height: 150px;
}

#slogan
{
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
}