html, body {margin: 0; padding: 0;}

*
{
    font-family: arial;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input[type="button"]
{
    width: 200px;
    padding: 8px;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    background-color:#ffd500;
    color: #222222;
}

input[type="button"]:hover
{
    cursor: pointer;
    background-color:#e9c300;
}

input[type="text"]
{
    width: 200px;
    padding: 8px;
    font-size: 2em;
}

table, th, td 
{
    border: 1px solid black;
}

th, td
{
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 1.6em;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}

table 
{
    border-collapse: collapse;
}

.base
{
    background-image: url("../img/bleu.png");
    font-size: 0px;
}

.non
{
    background-image: url("../img/rouge.png");
    font-size: 1.6em;
}

.oui
{
    background-image: url("../img/vert.png");
    font-size: 2em;
}

.presque
{
    background-image: url("../img/jaune.png");
    font-size: 2em;
}