html, body {margin: 0; padding: 0;}

table, th, td 
{
    border: 1px solid black;
}

th, td
{
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 0em;
}

table 
{
    border-collapse: collapse;
}

.non
{
    background-color: lightcoral;
}

.oui
{
    background-color: lightgreen;
    font-size: 1.2em;
}

.presque
{
    background-color: lightseagreen;
}