html, body {margin: 0; padding: 0; background-color: #222222;}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

input[type="button"]
{
    width: 200px;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    background-color: LightGreen;
    color: #222222;
}

input[type="button"]:hover
{
    cursor: pointer;
    background-color: rgb(92, 177, 92);
}