html, body {margin: 0; padding: 0; background-color: #ebebeb;}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #222222;
}

footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222222;
}

#BtnFooter
{
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color:#148fe9;
    color: #222222;
}


#BtnFooter:hover
{
    cursor: pointer;
    background-color:#1185d9;
}

input[type="button"]
{
    width: 200px;
    padding: 10px;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    background-color:#ffd500;
    color: #222222;
}

input[type="button"]:hover
{
    cursor: pointer;
    background-color:#e9c300;
}

#regle
{   
    position:absolute;
    display:none;
    background-color:#ebebeb;
    width: 650px;
    height: 550px;
    border:black solid 2px;
    padding:10px;
    font-size: large;
    font-family: Helvetica, sans-serif;
}

#regle h1, h2
{
   text-align: center;
}

#BtnRetour
{
    width: 100px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color:#ffd500;
    color: #222222;
    display: block;
    margin: 50px auto 0 auto;


}